body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

#helloContainer {
    position: relative;
}

#anywhereText {
    font-size: 12px;
    margin-bottom: -8px; /* Adjust this value to align it as needed */
    color: #45B39D; /* Blue color */
}

#helloText {
    font-size: 24px;

}

/* Footer Styles */
footer {
    margin-top: 20px;
}

#footerText {
    font-size: 13px;
    color: black;
}
